.footer__container {
  display: flex;
  justify-content: center;
  background: #292634;
  opacity: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  color: white;
}

a:visited {
  color: #f0eef2;
}

.icon__container > a {
  padding-right: 1rem;
  color: #f0eef2;
}

.container {
  margin: auto;
}
