.section-content {
  opacity: 100;
}

#section__container__Home {
  border-radius: 75px;
  width: auto;
  height: auto;
  width: auto;
  height: -moz-fit-content;
  margin: 10rem;
  margin-top: 10rem;
}
#section__container__Projects {
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  margin: auto;
}

#section__container__AboutMe {
  border-radius: 75px;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  margin: auto;
  margin-bottom: 10em;
  margin-left: ;
}
